# Log file
*.log

.idea

*/target
*/settings.xml
**.iml
/elastic-apm-java/target/

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.project

elastic-apm-java/.classpath

elastic-apm-java/.factorypath

elastic-apm-java/.settings/
